<div class="row text-center">
  <div class="col">
    <h1>CONTADOR</h1>
    <h2>{{contador}}</h2>
  </div>
</div>


<div class="row text-center">
  <div class="col">
    <button (click)="incrementar()"  class="btn btn-primary"> Incrementar </button>
    <button (click)="decrementar()"  class="btn btn-info"> Decrementar </button>
  </div>
</div>


<!-- 
<hr>

<div class="row text-center">
  <div class="col">
    <app-hijo [contador]="contador" (cambioContador)="contador = $event"></app-hijo>
     el padre escuche el evento del hijo, poniendo el nombre del envento, mientras el contador sea
    igual a  lo que se emita, es decir al evento.
  </div>
</div> -->